.findjobs-body-cont {
  width: 100vw;

  display: flex;
  background-color: black;
  padding: 20px;
}

.findjobs-body-cont-left {
  width: 30%;
  height: 100%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.findjobs-body-cont-right {
  width: 75%;
  height: 100%;
  background-color: #121212;
  display: flex;
  flex-direction: column;

  padding: 10px;

  padding-top: 30px;
  padding-right: 30px;
}
.search-btn-cont {
  display: flex;
}
.no-jobs {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.no-jobs-img {
  width: 80%;
}
.retry-btn {
  background-color: blue;
  color: white;
  font-size: 15px;
  width: 80px;
  padding: 10px;
}
.pro-fail-cont {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-input {
  height: 35px;
  background-color: transparent;
  border: 1px solid white;
  width: 250px;
}

ul {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}
.status-check-cont {
  overflow: auto;
}
.list-item-cont {
  overflow-y: scroll;
  height: 132.5vh;
}
